* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Arial, sans-serif;
}

html {
  font-size: 45%;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}
input {
  font-size: 16px;
}
body {
  font-size: 16px;
}
/* Set input inheritance */
input {
  font-size: inherit;
}

a {
  text-decoration: none;
}

a:hover {
  color: inherit;
}

/* Media Query for Very Small Devices*/
@media (max-width: 284px) {
  html {
    font-size: 25%;
  }

  .mepros-catalogues-buttons {
    width: 100%;
  }
	.mepros-card {
		width: 80%;
	}

  .mepros-sidebar {
    width: 40%;
    right: -100%;
  }

  .change .mepros-hamburger-menu {
    right: 35rem;
  }

  .mepros-cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .mepros-about-us {
    flex-direction: column;
    align-items: center;
  }

  .mepros-about-us-video-wrapper {
    width: 50rem;
    height: 25rem;
  }

  .mepros-about-us-stories-wrapper {
    flex-direction: column;
  }

  .mepros-about-us-story-bg {
    transform: skewX(8deg);
    padding: 1rem;
  }

  .mepros-about-us-story {
    transform: skewX(-8deg);
  }

  .mepros-about-us-story-paragraph {
    font-size: 2rem;
  }

  .mepros-contact-us-details {
    flex-direction: column;
  }

  .mepros-contact-us-details div {
    width: 28rem;
  }

  .mepros-section-1-wrapper {
    background: linear-gradient(rgba(255, 198, 128, 0.2), rgba(0, 0, 0, 0.3)),
      url(../images/index-background.jpg) center no-repeat;
  }
  .mepros-section-2-bg {
    background: linear-gradient(rgba(255, 198, 128, 0.2), rgba(0, 0, 0, 0.3)),
      url(../images/index-background.jpg) center no-repeat;
  }
  .mepros-section-3-wrapper {
    background: linear-gradient(rgba(255, 198, 128, 0.2), rgba(0, 0, 0, 0.3)),
      url(../images/index-background.jpg) center no-repeat;
  }
  .mepros-section-4-bg {
    background: linear-gradient(rgba(255, 198, 128, 0.2), rgba(0, 0, 0, 0.3)),
      url(../images/index-background.jpg) center no-repeat;
  }
  .mepros-section-5-wrapper {
    background: linear-gradient(rgba(255, 198, 128, 0.2), rgba(0, 0, 0, 0.3)),
      url(../images/index-background.jpg) center no-repeat;
  }
  .mepros-section-6-bg {
    background: linear-gradient(rgba(255, 198, 128, 0.2), rgba(0, 0, 0, 0.3)),
      url(../images/index-background.jpg) center no-repeat;
  }
}

/* Media Query for Iphone X */
@media (device-width: 374px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  html {
    font-size: 25%;
  }

  .mepros-catalogues-buttons {
    width: 80%;
  }

  .mepros-sidebar {
    width: 40%;
    right: -100%;
  }

  .change .mepros-hamburger-menu {
    right: 35rem;
  }

  .mepros-cards-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

	.mepros-card {
		width: 80%;
	}

  .mepros-about-us {
    flex-direction: column;
    align-items: flex-start;
  }

  .mepros-about-us-video-wrapper {
    width: 70rem;
    height: 35rem;
  }

  .mepros-about-us-stories-wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
  }

  .mepros-about-us-story-bg {
    transform: skewX(12deg);
    padding: 2rem;
  }

  .mepros-about-us-story {
    transform: skewX(-12deg);
  }

  .mepros-about-us-story-heading {
    font-size: 3rem;
  }

  .mepros-about-us-story-paragraph {
    font-size: 2.5rem;
  }

  .mepros-contact-us-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .mepros-contact-us-details h3 {
    font-size: 3.5rem;
  }

  .mepros-contact-us-details p {
    font-size: 3.5rem;
  }
}

/* Media Query for Mobile Devices */
@media (min-width: 285px) and (max-width: 480px) {
  html {
    font-size: 25%;
  }

  .mepros-catalogues-buttons {
    width: 80%;
  }


  .mepros-sidebar {
    width: 40%;
    right: -100%;
  }

  .change .mepros-hamburger-menu {
    right: 35rem;
  }

  .mepros-cards-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .mepros-about-us {
    flex-direction: column;
    align-items: flex-start;
  }

  .mepros-about-us-video-wrapper {
    width: 70rem;
    height: 35rem;
  }

  .mepros-about-us-stories-wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
  }

  .mepros-about-us-story-bg {
    transform: skewX(12deg);
    padding: 2rem;
  }

  .mepros-about-us-story {
    transform: skewX(-12deg);
  }

  .mepros-about-us-story-heading {
    font-size: 3rem;
  }

  .mepros-about-us-story-paragraph {
    font-size: 2.5rem;
  }

  .mepros-contact-us-details {
    flex-direction: column;
    align-items: flex-start;
  }

  .mepros-contact-us-details h3 {
    font-size: 3.5rem;
  }

  .mepros-contact-us-details p {
    font-size: 3.5rem;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 25%;
  }

  .mepros-catalogues-buttons {
    width: 60%;
  }

  .mepros-sidebar {
    width: 40%;
    right: -100%;
  }

  .change .mepros-hamburger-menu {
    right: 35rem;
  }

  .mepros-about-us {
    flex-direction: column;
    align-items: flex-start;
  }

  .mepros-about-us-video-wrapper {
    width: 90rem;
    height: 45rem;
  }

  .mepros-about-us-stories-wrapper {
    flex-direction: column;
    align-items: flex-start;
    width: 70%;
  }

  .mepros-about-us-story-bg {
    transform: skewX(12deg);
    padding: 2rem;
  }

  .mepros-about-us-story {
    transform: skewX(-12deg);
  }

  .mepros-about-us-story-heading {
    font-size: 3rem;
  }

  .mepros-about-us-story-paragraph {
    font-size: 2.5rem;
  }

  .mepros-contact-us-details div {
    width: 50rem;
  }

  .mepros-contact-us-details h3 {
    font-size: 4rem;
  }

  .mepros-contact-us-details p {
    font-size: 3rem;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 25%;
  }

  .mepros-catalogues-buttons {
    width: 40%;
  }

  .mepros-sidebar {
    width: 40%;
    right: -100%;
  }


  .change .mepros-hamburger-menu {
    right: 35rem;
  }

  .mepros-about-us {
    flex-direction: column;
    align-items: center;
  }

  .mepros-about-us-stories-wrapper {
    flex-direction: column;
    width: 70%;
  }

  .mepros-about-us-video-wrapper {
    width: 150rem;
    height: 75rem;
  }

  .mepros-about-us-story-bg {
    transform: skewX(12deg);
    padding: 2rem;
  }

  .mepros-about-us-story {
    transform: skewX(-12deg);
  }

  .mepros-about-us-story-heading {
    font-size: 3rem;
  }

  .mepros-about-us-story-paragraph {
    font-size: 2.5rem;
  }

  .mepros-contact-us-details div {
    width: 50rem;
  }

  .mepros-contact-us-details h3 {
    font-size: 4rem;
  }

  .mepros-contact-us-details p {
    font-size: 3rem;
  }

  .mepros-products-section-heading {
    font-size: 8rem;
  }

  .mepros-about-us-heading {
    font-size: 8rem;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  html {
    font-size: 35%;
  }

  .mepros-about-us {
    flex-direction: column;
    align-items: center;
  }

  .mepros-about-us-stories-wrapper {
    flex-direction: column;
    width: 70%;
  }

	.mepros-card {
		width: 80%;
	}

  .mepros-about-us-video-wrapper {
    width: 160rem;
    height: 80rem;
  }

  .mepros-about-us-story-heading {
    font-size: 3rem;
  }

  .mepros-about-us-story-paragraph {
    font-size: 2.5rem;
  }

  .mepros-contact-us-details div {
    width: 50rem;
  }

  .mepros-contact-us-details h3 {
    font-size: 4.5rem;
  }

  .mepros-contact-us-details p {
    font-size: 3.5rem;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  html {
    font-size: 40%;
  }

  .mepros-about-us-video-wrapper {
    width: 170rem;
    height: 85rem;
  }

  .mepros-about-us-story-heading {
    font-size: 3rem;
  }

  .mepros-about-us-story-paragraph {
    font-size: 2.5rem;
  }

  .mepros-contact-us-details div {
    width: 55rem;
  }

  .mepros-contact-us-details h3 {
    font-size: 5rem;
  }

  .mepros-contact-us-details p {
    font-size: 4rem;
  }
}
