.mepros-about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  background-size: cover;
}
.mepros-about-us-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0rem 0 0.5rem 0;
  margin-bottom: 5%;
}

.mepros-about-us-heading {
  font-size: 5rem;
  font-family: 'Baloo Da 2', sans-serif;
  font-weight: 400;
  color: #000000;
  margin-right: 3rem;
  margin-left: 3rem;
}

.mepros-about-us-underline {
  width: 20rem;
  height: 0.3rem;
  padding: 0;
  background-color: #f26522;
}

.mepros-about-us-video-wrapper {
  width: 120rem;
  height: 60rem;
  position: relative;
  top: 5rem;
  box-shadow: 3rem 3rem 10rem #f29b22;
  overflow: hidden;
}

.mepros-about-us-video-wrapper:hover .mepros-about-us-controls {
  transform: translateY(0);
}

.mepros-about-us-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mepros-about-us-controls {
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translateY(calc(100% - 0.4rem));
  transition: transform 0.4s;
}

.mepros-about-us-video-bar-wrapper {
  width: 100%;
  height: 0.7rem;
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
}

.mepros-about-us-video-bar {
  height: 100%;
  width: 0;
  background-color: #f26522;
  transition: width 1s linear;
}

.mepros-about-us-buttons {
  padding: 2rem 1rem 1rem 1rem;
}

.mepros-about-us-buttons button {
  background: none;
  border: none;
  cursor: pointer;
}

.mepros-about-us-buttons i {
  width: 3rem;
  height: 3rem;
  font-size: 2.8rem;
  color: #fff;
}

.mepros-about-us-buttons i:hover {
  color: #f26522;
}

.mepros-about-us-stories-wrapper {
  margin-top: 10rem;
  position: relative;
  display: flex;
  align-items: center;
  width: 90%;
  padding: 5rem;
}

.mepros-about-us-story-bg {
  background-color: rgba(238, 238, 238, 0.85);
  padding: 5rem;
  margin: 5rem;
  width: 100%;
  box-shadow: 0 2rem 5rem #f29b22;
  transform: skewX(20deg);
}

.mepros-about-us-story-bg:hover {
  background-color: #9b9b9b;
}

.mepros-about-us-story {
  transform: skewX(-20deg);
  display: flex;
}

.mepros-about-us-story-image {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 3rem;
}

.mepros-about-us-story-text {
  letter-spacing: 0;
  text-align: left;
}

.mepros-about-us-story-heading {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: var(--grey-color);
  margin-bottom: 1rem;
  background-color: #c9c9c9;
  padding: 3.5%;
  max-width: fit-content;
  border-radius: 35%;
}

.mepros-about-us-story-paragraph {
  font-size: 2rem;
  color: var(--light-grey-color);
}

.mepros-about-us-story-paragraph::first-letter {
  margin-left: 1rem;
}

.primary-cta {
  background: linear-gradient(to right, #ff6c26 0%, #ffa526 100%);
  color: #ffffff;
  padding: 10px 25px;
  border-radius: 50px;
  transition: 0.3s linear all;
  box-shadow: none;
  border: none;
  text-transform: uppercase;
  display: inline-block;
}

.primary-cta:hover {
  background: #222222;
  color: #ffffff;
  transition: 0.3s linear all;
}

.wf-space {
  padding: 60px 90px;
}

.wf-left-heading {
  font-size: 50px;
  text-transform: capitalize;
  position: relative;
  margin: 0;
  font-weight: 400;
}

.wf-left-heading span {
  position: relative;
  z-index: 99;
}

.wf-left-heading:after {
  position: absolute;
  content: '';
  height: 100%;
  width: 33px;
  background: linear-gradient(to right, #ff6c26 0%, #ffa526 100%);
  left: 0;
  top: 0;
}

.container {
  display: flex;
  z-index: 99;
  position: relative;
}

.wf-about-us__image {
  position: relative;
}
.wf-about-us__image:after {
  position: absolute;
  content: '';
  left: -15px;
  width: 25%;
  height: 100%;
  background: linear-gradient(to right, #ff6c26 0%, #ffa526 100%);
  top: -15px;
  bottom: 0;
  padding: 15px;
}
.column {
  flex: 0 0 50%;
  position: relative;
}
.wf-about-us__image img {
  z-index: 9;
  position: relative;
  display: block;
}

.wf-about-us__content {
  padding-left: 35px;
}

.wf-about-us {
  position: relative;
}
.wf-about-us:after {
  position: absolute;
  content: '';
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.4;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  top: 30%;
}

.wf-about-us__content p {
  font-size: 15px;
}

.about1 {
  background-color: rgba(236, 141, 16, 0.5);
  padding: 5%;
  border-radius: 25%;
}
.about1:hover {
  background-color: rgba(236, 141, 16, 0.181);
}

@media (max-width: 1024px) {
  .wf-space {
    padding: 60px 40px;
  }
  .wf-about-us__content p {
    font-size: 13px;
  }

  .wf-left-heading:after {
    width: 25px;
  }
  .mepros-about-us-header {
    margin-bottom: 7%;
  }
}

@media (max-width: 767px) {
  .container {
    display: block;
  }

  .wf-about-us__content p {
    font-size: 11px;
  }

  .wf-about-us__content {
    padding-left: 0;
    margin-left: -15px;
    padding-top: 30px;
  }
  .mepros-about-us-header {
    margin-bottom: 14%;
  }
}
