/* Section 4 */
.mepros-contact-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(images/mepros-contact-us-wall-bg.jpg) center no-repeat;
  background-size: cover;
}

.mepros-contact-us-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 0.5rem 0;
}

.mepros-contact-us-heading {
  font-size: 5rem;
  font-family: 'Baloo Da 2', sans-serif;
  font-weight: 400;
  color: #000000;
  margin-right: 3rem;
  margin-left: 3rem;
}

.mepros-contact-us-heading-line {
  width: 20rem;
  height: 0.3rem;
  padding: 0;
  background-color: #f26522;
}

.contact-wrapper {
  width: 80%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mepros-email-wrapper {
  padding: 2rem;
  background-color: #f29b2299;
  border-style: inherit;
  box-shadow: 0rem 12rem 100rem rgb(0, 0, 0);
}

.contact-details {
  display: flex;
  position: relative;
  margin-top: 8rem;
  margin-bottom: 8rem;
}

.contact-details div {
  width: 25rem;
  text-align: center;
  margin: 4rem;
}

.contact-details i {
  font-size: 5rem;
  color: #ff4800;
}

.contact-details h3 {
  font-family: 'Baloo Da 2', serif;
  font-size: 2.5rem;
  margin: 2rem 0;
}

.contact-details p {
  font-weight: 700;
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 2rem;
}

.contact-wrapper h3 {
  font-size: 3rem;
  color: #242424;
  text-transform: uppercase;
  margin-bottom: 3rem;
  text-align: center;
}

.contact-form {
  width: 70rem;
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 1.5rem;
  background-color: #444;
  color: #eee;
  border: none;
  margin-bottom: 2rem;
  font-family: 'Oswald', sans-serif;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.contact-form textarea {
  max-width: 100%;
  max-height: 15rem;
  min-height: 5.5rem;
}

.contact-form input[type='submit'] {
  background-color: #f26522;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form input[type='submit']:hover {
  background-color: #f29b22;
}

.phone {
  border-radius: 15px 50px;
  padding: 1rem;
  background-color: #f29b2288;
  box-shadow: 0rem 12rem 100rem rgb(0, 0, 0);
}

.phone:hover {
  background-color: #f29b22;
}

.address {
  border-radius: 15px 50px;
  padding: 1rem;
  background-color: #f29b2288;
  box-shadow: 0rem 12rem 100rem rgb(0, 0, 0);
}

.address:hover {
  background-color: #f29b22;
}

.email {
  border-radius: 15px 50px;
  padding: 1rem;
  background-color: #f29b2288;
  box-shadow: 0rem 12rem 100rem rgb(0, 0, 0);
}

.email:hover {
  background-color: #f29b22;
}

/* End of Section 4 */
