.mepros-footer-map-wrapper {
  padding: 5rem;
  background: url(images/mepros-footer-bg.jpg) center no-repeat;
  background-size: cover;
}

.mepros-footer-map {
  padding-bottom: 30%;
  padding-left: 10%;
  position: relative;
}

.mepros-footer-map iframe {
  height: 80%;
  width: 80%;
  position: absolute;
}

.mepros-footer-copyright {
  font-size: 2.2rem;
  font-weight: 900;
  text-align: center;
}
