* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Cormorant Garamond', serif;
}

html {
  font-size: 45%;
  scroll-behavior: smooth;
}

.mepros-display {
  line-height: normal;
}

.mepros-container {
  display: none;
}

.mepros-display .mepros-container {
  display: block;
}
a {
  text-decoration: none;
}
a:hover {
  color: inherit;
}
.mepros-topleft-logo {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

.mepros-logo {
  width: 20rem;
}

.mepros-whatsapp-logo {
  position: fixed;
  right: 8rem;
  bottom: 1rem;
  width: 5rem;
  height: 5rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.3s;
}

.mepros-whatsapp-logo:hover {
  opacity: 0.8;
}

.mepros-scroll-btn {
  position: fixed;
  width: 5rem;
  height: 5rem;
  bottom: 1rem;
  right: 2rem;
  background-color: #f26522;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  z-index: 200;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.mepros-scroll-btn:hover {
  background-color: rgb(230, 138, 17);
}

.mepros-menu-mepros-logo {
  align-items: center;
  width: 25rem;
  padding-bottom: 8rem;
}

.mepros-hamburger-menu {
  width: 3rem;
  height: 3rem;
  position: fixed;
  top: 2rem;
  right: 4rem;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
  transition: right 0.7s;
}

.change .mepros-hamburger-menu {
  right: 33rem;
}

.mepros-line {
  width: 100%;
  height: 0.2rem;
  background-color: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0);
}

.change .mepros-line {
  background-color: rgba(0, 0, 0);
}

.change .mepros-line-1 {
  transform: rotate(45deg) translate(0.3rem, 0.8rem);
}

.change .mepros-line-2 {
  opacity: 0;
  visibility: hidden;
}

.change .mepros-line-3 {
  transform: rotate(-45deg) translate(0.3rem, -0.8rem);
}

.change .mepros-hamburger-menu:hover span {
  opacity: 1;
  visibility: visible;
}

.mepros-hamburger-menu span::before {
  content: '';
  position: absolute;
  border-left: 1rem solid transparent;
  border-right: 1rem solid #f26522;
  border-bottom: 1rem solid transparent;
  border-top: 1rem solid transparent;
  top: 50%;
  left: -2rem;
  transform: translateY(-50%);
}

.mepros-sidebar {
  width: 40rem;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -40rem;
  background-color: rgb(230, 230, 230);
  transition: right 0.5s;
  z-index: 100;
  opacity: 0.8;
}

.change .mepros-sidebar {
  right: 0;
}

.mepros-menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mepros-menu-item {
  text-align: center;
}

.mepros-menu-link {
  font-family: 'Baloo Da 2', serif;
  font-size: 4rem;
  color: #555;
  position: relative;
}

.mepros-menu-link::before {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  color: #f26522;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.3s ease-in-out;
}

.mepros-menu-link:hover::before {
  width: 100%;
}

.mepros-social-media {
  position: absolute;
  bottom: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mepros-social-media i {
  font-size: 2.2rem;
  margin: 3rem;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #555;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.3s;
}

.mepros-social-media i:hover {
  background-color: #f26522;
}

.mepros-page-btn {
  position: absolute;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
}

.mepros-left-btn {
  left: 4rem;
}

.mepros-left-btn img {
  transform: rotate(-90deg);
}

.mepros-right-btn {
  right: 4rem;
}

.mepros-right-btn img {
  transform: rotate(90deg);
}

.mepros-page-btn img {
  width: 5rem;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.2s;
}

.mepros-page-btn img:hover {
  opacity: 1;
}

.mepros-progress-wrapper {
  position: absolute;
  z-index: 100;
  bottom: 2rem;
  left: 3rem;
}

.mepros-progress {
  margin: 1rem 0;
  text-align: center;
}

.mepros-progress h2 {
  font-size: 2.5rem;
  font-weight: 300;
  color: #fff;
}

.mepros-circle-wrapper {
  display: flex;
}

.mepros-circle {
  width: 1rem;
  height: 1rem;
  border: 0.1rem solid #fff;
  border-radius: 50%;
  margin: 0 0.3rem;
  transition: background-color 0.3s;
}

.mepros-circle-1 {
  background-color: #ddd;
}

.mepros-wrapper {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.mepros-wrapper-section {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  overflow: hidden;
  transition: left 1.5s;
}

.mepros-section-1 {
  z-index: 50;
}

.mepros-section-wrapper {
  width: inherit;
  height: inherit;
  transform: scale(1.5);
  transition: all 2s;
}

.mepros-section-1-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(images/section-1-bg.jpeg) center no-repeat;
  background-size: cover;
  transform: scale(1);
}

.mepros-section-1-heading-wrapper {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mepros-section-1-heading {
  font-size: 8rem;
  font-weight: 500;
  color: #fff;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  border-bottom: 0.2rem solid #f26522;
  text-align: center;
  user-select: none;
  margin-bottom: 12rem;
}

.mepros-section-2 {
  z-index: 40;
}

.mepros-section-2-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(images/section-2-bg.jpeg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.mepros-section-3 {
  z-index: 30;
  background-color: #000;
}

.mepros-section-3-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(images/section-3-bg.jpeg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mepros-section-3-heading {
  font-size: 12rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  transform: rotate(-10deg);
  text-align: center;
  text-shadow: 0 0.5rem 1.5rem #000;
  user-select: none;
  margin-bottom: 20rem;
}

.mepros-section-4 {
  z-index: 20;
}

.mepros-section-4-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mepros-section-4-bg {
  width: 110%;
  height: 110%;
  position: absolute;
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(images/section-4-bg.jpeg) center no-repeat;
  background-size: cover;
  z-index: -1;
  filter: blur(0.5rem);
}

.mepros-section-4-heading {
  font-size: 10rem;
  font-weight: 500;
  text-align: center;
  padding-top: 15rem;
  margin-bottom: 7rem;
  color: #fff;
  user-select: none;
}

.mepros-new-sofas-img {
  width: 70rem;
  border: 0.1rem solid #fff;
  padding: 1rem;
  opacity: 0.7;
}

.mepros-section-5 {
  z-index: 10;
}

.mepros-section-5-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)),
    url(images/section-5-bg.jpeg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mepros-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem 20rem 5rem;
}

.mepros-cards-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8rem;
  width: 90%;
}

.mepros-card {
  height: 45rem;
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  margin: 1.5rem;
  position: relative;
  box-shadow: 0.5rem 0.5rem 3rem #f29b22;
}

.mepros-card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

.mepros-card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: center;
  opacity: 0.8;
  border-radius: 0.5rem;
  transition: opacity 0.3s;
}

.mepros-card:hover .mepros-card-img-wrapper img {
  opacity: 0.5;
}

.mepros-c-info {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  padding-bottom: 4rem;
  text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}

.mepros-card:hover .mepros-c-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

.mepros-products-section-heading h2 {
  font-size: 5rem;
}

.mepros-c-info h2 {
  font-family: 'Baloo Da 2', serif;
  font-size: 4rem;
  padding-bottom: 4rem;
  line-height: 2.5rem;
  font-weight: 300;
  color: #eee;
}

/*
.mepros-c-info p {
  font-family: 'Baloo da 2', serif;
  font-size: 1rem;
  line-height: 1.6rem;
  font-weight: 300;
  color: #eee;
  width: 80%;
  margin-bottom: 2rem;
}
*/

.mepros-c-info button {
  width: 12rem;
  height: 5rem;
  background-color: #f26522;
  border: none;
  font-family: 'Baloo Da 2', serif;
  font-size: 2rem;
  line-height: 1.5rem;
  color: #eee;
  border-radius: 0.9rem;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

.mepros-c-info button:hover {
  background-color: rgb(230, 138, 17);
}

.mepros-products-section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0 0.5rem 0;
}

.mepros-products-section-heading {
  font-family: 'Baloo Da 2', serif;
  font-size: 5rem;
  font-weight: 400;
  color: #4b4b4b;
}

.mepros-products-underline {
  width: 20rem;
  height: 0.3rem;
  padding: 0;
  background-color: #f26522;
}

.mepros-copyright {
  position: absolute;
  bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #eee;
  letter-spacing: 0.2rem;
}

/*
.mepros-footer-map {
  overflow: hidden;
  padding-bottom: 20%;
  position: relative;
  height: 0;
}

.mepros-footer-map iframe {
  height: 100%;
  width: 30%;
  position: absolute;
}
*/

@media (max-width: 1400px) {
  .mepros-menu-link {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 30%;
  }

  .mepros-sidebar {
    width: 40%;
    right: -100%;
  }

  .change .mepros-hamburger-menu {
    right: 35rem;
  }

  .mepros-cards-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .mepros-about-us {
    flex-direction: column;
  }

  .mepros-about-us-stories-wrapper {
    flex-direction: column;
  }

  /*
  .section-2-paragraph1 {
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
  }

  .section-2-paragraph2 {
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
  }
  */
}
